Sem-3/ED/TP2/TP2-Caio
Sem-3/ED/TP2/.vscode/settings.json
*.exe
*.o
*.out
*.rar
*.zip
Sem-3/BD/TP2/bd_1.py
Sem-3/BD/TP2/dados_unificados.csv
Sem-3/BD/TP2/Mortalidade_2019_filtrado.csv
Sem-3/BD/TP2/schema.sql
Sem-3/BD/TP2/ufs_filtrado.csv
Sem-3/BD/TP2/municipios_filtrado.csv
Sem-3/BD/TP2/Unidades_Basicas_Saude-UBS_filtrado.csv
Sem-3/BD/TP2/dicionario copy.csv
